.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html,
body {
  margin: 0;
  height: 100%;
}

.bg {
  width: 100%;
  height: 80vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input[type="text-form"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text-form"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type="text-form"]:disabled {
  background: rgba(255, 255, 255, 1);
  border-bottom: 0px solid #000000;
}

input[type="text-form-group"],
select.form-control {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #000000;
}

input[type="text-form-group"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #000000;
}
input[type="text-form-group"]:disabled {
  background: transparent;
  border: 0px solid #000000;
}

input[type="text-name"],
.form-control-lg {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 4rem !important;
}

input[type="text-name"]:disabled {
  background: rgba(255, 255, 255, 1);
  border-bottom: 0px solid #000000;
}
input[type="text-name"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

select[type="text-form-group"],
select.form-control {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #000000;
}

select[type="text-form-group"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #000000;
}

@media screen and (max-width: 900px) {
  .mobile {
    text-align: center;
  }
}
